accelerate
datasets
deepspeed
hydra-core
omegaconf
openai==1.14.0
rouge_score
torch
transformers==4.39.1
wandb
bitsandbytes
peft
torch
fairscale
scipy
fire
sentencepiece
trl
vllm==0.3.3
langchain
matplotlib
seaborn
