accelerate
datasets
deepspeed
hydra-core
omegaconf
openai==1.14.0
rouge_score
torch
transformers
wandb
bitsandbytes
peft
torch
fairscale
scipy
fire
sentencepiece
trl
vllm
langchain
matplotlib
seaborn
